* {
    margin: 0px;
    padding: 0px;
    /*colocarlo en imagen*/
}

section,
article,
aside,
footer,
header,
nav,
hgroup {
    position: inherit;
}

#contenedor {
    padding-top: 10%;
    text-align: center;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lista {
    flex: auto;
    margin: auto;
    color: black;
    width: 80%;
    padding-left: 10%;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 7%;
}

#texto {
    text-align: auto;
}

.letra {
    list-style-type: lower-latin;
    padding-left: 2%;
}

.punto {
    list-style-type: square;
}

.t_1 {
    color: black;
}